<html>
  <head>
    <title>Socket.IO chat</title>
    <meta charset='UTF-8'>
    <meta name="robots" content="noindex">

    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">

    <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700,300' rel='stylesheet' type='text/css'>
    
    <link rel='stylesheet prefetch' href='https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css'>
    <link rel='stylesheet prefetch' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.2/css/font-awesome.min.css'>

    <link rel="stylesheet" href="/css/chat.css">
  </head>
  <body>
    <div id="frame">
      <div id="sidepanel">
        <div id="profile">
          <div class="wrap">
            <% var class_status = 'offline' %>
            <% if(status == 1) { %>
              <% class_status = 'online' %>
            <% } %>
            <% if(status == 2) { %>
              <% class_status = 'away' %>
            <% } %>
            <% if(status == 3) { %>
              <% class_status = 'busy' %>
            <% } %>
            <% if(status == 0) { %>
              <% class_status = 'offline' %>
            <% } %>
            <img id="profile-img" src="http://emilcarlsson.se/assets/mikeross.png" class="<%= class_status %>" alt="" / data-status="<%= status %>">
            <p><%= user %></p>
            <i class="fa fa-chevron-down expand-button" aria-hidden="true"></i>
            <div id="status-options">
              <ul>
                <li id="status-online" data-status="1" class="active"><span class="status-circle"></span> <p>Online</p></li>
                <li id="status-away" data-status="2"><span class="status-circle"></span> <p>Away</p></li>
                <li id="status-busy" data-status="3"><span class="status-circle"></span> <p>Busy</p></li>
                <li id="status-offline" data-status="0"><span class="status-circle"></span> <p>Offline</p></li>
              </ul>
            </div>
            <div id="expanded">
              <label for="twitter"><i class="fa fa-facebook fa-fw" aria-hidden="true"></i></label>
              <input name="twitter" type="text" value="mikeross" />
              <label for="twitter"><i class="fa fa-twitter fa-fw" aria-hidden="true"></i></label>
              <input name="twitter" type="text" value="ross81" />
              <label for="twitter"><i class="fa fa-instagram fa-fw" aria-hidden="true"></i></label>
              <input name="twitter" type="text" value="mike.ross" />
            </div>
          </div>
        </div>
        <div id="search">
          <label for=""><i class="fa fa-search" aria-hidden="true"></i></label>
          <input type="text" placeholder="Search contacts..." />
        </div>
        <div id="contacts">
          <ul>
            <% for (var i = 0; i < (phones.length); i++) { %>
              <% var phone = phones[i].user_id %>
              <% var msg = phones[i].content %>
              <% var act = '' %>
              <% if(i == 0) { %>
                <% act = 'active' %>
              <% } %>
              <!-- get status of user -->
              <% var status = 'offline' %>
              <% if(phones[i].is_login == 1) { %>
                <% if(phones[i].status == 1) { %>
                  <% status = 'online' %>
                <% } %>
                <% if(phones[i].status == 2) { %>
                  <% status = 'away' %>
                <% } %>
                <% if(phones[i].status == 3) { %>
                  <% status = 'busy' %>
                <% } %>
                <% if(phones[i].status == 0) { %>
                  <% status = 'offline' %>
                <% } %>
              <% } %>
              <% if(phone !== user) { %>
              <li class="contact <%= act %>">
                <div class="wrap">
                  <span class="contact-status <%= status %>"></span>
                  <img src="http://emilcarlsson.se/assets/louislitt.png" alt="" />
                  <div class="meta">
                    <p class="name"><%= phone %></p>
                    <p class="preview pre_<%= phone %>_<%= user %>"><%= msg %></p>
                  </div>
                </div>
              </li>
              <% } %>
            <% } %>
          </ul>
        </div>
        <div id="bottom-bar">
          <button id="addcontact"><i class="fa fa-user-plus fa-fw" aria-hidden="true"></i> <span>Add contact</span></button>
          <button id="logout"><i class="fa fa-cog fa-fw" aria-hidden="true"></i> <span>logout</span></button>
        </div>
      </div>
      <div class="content">
        <div class="contact-profile">
          <img src="http://emilcarlsson.se/assets/harveyspecter.png" alt="" />
          <p></p>
          <div class="social-media">
            <i class="fa fa-facebook" aria-hidden="true"></i>
            <i class="fa fa-twitter" aria-hidden="true"></i>
             <i class="fa fa-instagram" aria-hidden="true"></i>
          </div>
        </div>
        <div class="messages">
          <ul>
          </ul>
        </div>
        <div class="message-input">
          <div class="wrap">
          <input type="text" placeholder="Write your message..." />
          <i class="fa fa-paperclip attachment" aria-hidden="true"></i>
          <button class="submit"><i class="fa fa-paper-plane" aria-hidden="true"></i></button>
          </div>
        </div>
      </div>
    </div>
  </body>

  <script src="/socket.io/socket.io.js"></script>

  <script src='https://code.jquery.com/jquery-2.2.4.min.js'></script>
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>

  <script src="/chat.js"></script>
</html>